<h1 class="ui dividing header">User Page</h1>

<div class="ui card">
  <div class="content">
    <% if is_admin? %>
        <span class="ui red left floated ribbon label">ADMIN</span>
    <% end %>
    <div class="header">Your information</div>
  </div>
  <div class="content">
    <div class="meta">Name:</div>
    <div class="description">
      <i class="user circle icon"></i><%= @user.name %>
    </div>
    <div class="meta">Nausea:</div>
    <div class="description">
      <i class="frown icon"></i><%= @user.nausea %>
    </div>
    <div class="meta">Happiness:</div>
    <div class="description">
      <i class="smile icon"></i><%= @user.happiness %>
    </div>
    <div class="meta">Mood:</div>
    <div class="description">
      <i class="meh icon"></i><%= @user.mood %>
    </div>
    <div class="meta">Height:</div>
    <div class="description">
      <i class="long arrow up icon"></i><%= @user.height %>
    </div>
    <div class="meta">Tickets:</div>
    <div class="description">
      <i class="ticket icon"></i><%= @user.tickets %>
    </div>
  </div>
  <div class="extra content">
    <%= link_to "See attractions", attractions_path, class: "ui primary button" %>
  </div>
</div>


