<!DOCTYPE html>
<html>
<head>
  <title>AmusementPark5</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="main ui container">
  <header>
    <%= render partial: "header" %>
  </header>
  <div class="ui segment">
    <%= yield %>
  </div>
</div>
</body>
</html>
